<!DOCTYPE html>
<html lang="en">

<head>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <link href="/static/css/signup.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
  <style>
    .jumbotron .btn {
    padding: 1px 1px;
    font-size: 14px;
    }
    .panel-body {
    padding: 5px;
    }
    .editable-inline .add-on .icon-th {
    margin-top: -1.5px;
    margin-left: 1px;
    }
  </style>
    <script>
    	$(function(){
    		$.ajax({
    			url : '/getStudentInfo',
    			type : 'GET',
    			success: function(res){
					console.log(res);
    				var div = $('<div>')
                      .attr('class', 'panel panel-primary')
                      .append(
                        $('<div>')
                        .attr('class', 'panel-heading')
                        .append(
                          $('<h4>')
                            .attr('class', 'panel-title')),
                            $('<div>')
                            .attr('class', 'panel-body')
                            .append(
                              $('<a>')
                              .attr('class', '')
                              .append(
                                $('<div>')
                                .attr('class', 'panel-primary panel-body')
                              )
                            )
                          );

					var infoObj = JSON.parse(res);
    				var info = '';
					console.log(infoObj)

					$.fn.editable.defaults.mode = 'inline';

					// first item in infoObj should be user_name, which we don't want to show
					console.assert(infoObj[0].name == 'user_name');
					user_name = infoObj[0].value;
    				$.each(infoObj,function(index, value){
						info = $(div).clone();
						$(info).find('h4').text(value.title);
						var isDate = value.hasOwnProperty('class') && value.class == 'datepicker';
						var valDiv = $(info).find('div:last');
						valDiv.text(value.value);
						valDiv.attr('id', value.title);

						valDiv.editable({
							type: isDate ? 'date' : 'text',
							pk: user_name, //TODO: I don't know what this should be. It's the primary key associated with the student record.
							url: '/postStudentInfo' //TODO: write a POST method!
						});
						// if(value.hasOwnProperty('class') && value.class == 'datepicker'){
							// $(info).find('div').addClass(value.class);
						// }
						// $(info).find('div').click(divClicked);
						$('.jumbotron').append(info);
    				});
    			},
    			error: function(error){
    				console.log(error);
    			}
    		});
        $.fn.datepicker.defaults.format = "mm/dd/yyyy";
        $.fn.datepicker.defaults.autoclose = true
      });
    </script>

</head>

<body>

    <div class="container">
      <img src="https://www.cockcroft.ac.uk/wp-content/uploads/2014/09/CI_Logo_small.png" alt="logo">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-primary">Student Register</h3>
        </div>

        <div class="jumbotron">
        </div>



        <footer class="footer">
            <p>Cockcroft Instiute 2017</p>
        </footer>

    </div>
</body>

</html>
