<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">

    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="../static/datepicker/js/bootstrap-datepicker.js"></script>
    <link id="bsdp-css" href="../static/datepicker/css/bootstrap-datepicker.standalone.css" rel="stylesheet">
    <script>
    	$(function(){
    		$.ajax({
    			url : '/getStudentInfo',
    			type : 'GET',
    			success: function(res){
    				var div = $('<div>')
                      .attr('class', 'list-group')
                      .append(
                        $('<a>')
                          .attr('class', 'list-group-item')
                        .append(
                          $('<h4>')
                            .attr('class', 'list-group-item-heading'),
                          $('<div>')
                            .attr('class', 'list-group-item-text')
                            .attr('contenteditable', 'true')
                            ));

  				  var infoObj = JSON.parse(res);
    				var info = '';
            console.log(infoObj)

    				$.each(infoObj,function(index, value){
    					     info = $(div).clone();
                   $(info).find('h4').text(value.title);
    					     $(info).find('div').text(value.value);
                   if(value.hasOwnProperty('id') && value.id == 'datepicker'){
                     $(info).find('div').addClass(value.id);
                     $(info).find('div').click(divClicked);
                   }
    					     $('.jumbotron').append(info);
    				});
    			},
    			error: function(error){
    				console.log(error);
    			}
    		});
        function editableTextBlurred() {
            var html = $(this).val();
            console.log(html)
            var viewableText = $("<div>");
            viewableText.html(html);
            $(this).replaceWith(viewableText);
            // setup the click event for this new div
            //viewableText.click(divClicked);
        }
        function divClicked() {
          var divHtml = $(this).text();
          console.log(divHtml)
          //var editableText = $("<div>");
          var inputcontrol = $('<input type="text">')
          inputcontrol.attr('value',divHtml)
          inputcontrol.attr('contenteditable', 'true')
          inputcontrol.attr('data-provide','datepicker')
          //editableText.append(inputcontrol)
          $(this).replaceWith(inputcontrol);
          inputcontrol.focus();
          // setup the blur event for this new textarea
          //inputcontrol.blur(editableTextBlurred);
          //$( ".datepicker" ).datepicker();
        };
      });
    </script>

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>

        <div class="jumbotron">
        </div>


        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>

    </div>
</body>

</html>
